@import url(./vendor/normalize.css);
@import url(./vendor/fonts/stylesheet.css);

.page{
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 1440px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header{
    width: 100%;
    height: 252px;
    background: linear-gradient( rgba(31, 32, 33, .79), rgba(31, 32, 33, .79)), url("./images/header_img.png");
    background-position: 18%;
    background-size: cover;

}

.header__content{
    padding: 26px 130px 0px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 78px;
    height: 78px;
    z-index: 100;
    background-size: contain;
}

.header__links{
    width: 412px;
    display: flex;
    justify-content: space-between;
}

.header__link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: .5s all ease;
}

.header__link:active{
    color:#979090;
}

.header__link:hover{
    border-bottom: 1px solid #FFFFFF;
}

.header__tel{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-left: 226px;
}

.header__tel-span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}

.header__title{
    margin: 40px 130px;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
}

.content{
    margin: 37px 130px 49px 130px;
}

.cards{
    position: relative;
}

.cards__sort{
    display: flex;
    height: 60px;
}

.cards__onsort{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0;
}

.cards__price{
    list-style: none;
    padding: 0;
    margin: 0 0 0 48px;
    width: 92px;
}

.cards__price-sort{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    position: relative;
    width: fit-content;
    margin: 0;
    cursor: pointer;
}

.cards__price-sort:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 130%;
    top: 14%;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    transform: rotate(135deg);
   }

.cards__price-low{
    opacity: 0;
}

.cards__list{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-template-rows: repeat(auto-fill, 521px);
    column-gap: 20px;
    row-gap: 27px;
    font-size: 0;
}

.cards__card{
      position: relative;
}

.cards__img{
    width: 100%;
    height: 264px;
    object-fit: cover;
}

.cards__like{
    position: absolute;
    right: 32px;
    top: 36px;
    width: 46px;
    height: 41px;
    background: url(./images/like.png) no-repeat;
    object-fit: cover;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .5s all ease;
}

.cards__like:hover{
    top: 33px
}

.cards__like_sold{
    background: url(./images/like_activ.png) no-repeat;
}

.cards__like_sold:hover{
    cursor: default;
    top: 36px;
}

.cards__sale{
    position: absolute;
    left: 38px;
    top: 34px;
    background: #E62D2D;
    border-radius: 10px;
    width: 60px;
    height: 39px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    padding-left: 18px;
    opacity: 0;
}

.cards__sale_activ{
    opacity: 1;
}

.cards__block{
    padding: 29px 29px 29px 29px;
    height: 134px;
    background: #F3F3F3;
}

.cards__name{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
}

.cards__parameters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.cards__border{
    height: 26px;
    border-left: 4px solid #6EBBD3;
}

.cards__color{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 89px;
}

.cards__age{
    margin-right: 33px;
}

.cards__age-num{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.cards__age-des{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0;
}

.cards__price-cat{
    margin-top: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.cards__but{
    background: #6EBBD3;
    width: 100%;
    height: 65px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: .5s all ease;
}

.cards__but:hover{
    background: #10acdb;
}
.cards__but_sold{
    background: #1F2021;
}

.cards__but_sold:hover{
    cursor: default;
    background: #1F2021;
}

.cards__add{
    display: block;
    margin: 0 auto;
    margin-top: 68px;
    width: 380px;
    height: 65px;
    border: 1px solid #CACACA;
    border-radius: 10px;
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: .5s all ease;
    cursor: pointer;
}

.cards__add:hover{
    background-color: #F3F3F3;
}

.cards__up{
    width: 59px;
    height: 59px;
    position: absolute;
    left: 95%;
    top: 98%;
    background-color: #6EBBD3;
    background-image: url("./images/up.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: .5s all ease;
}

.cards__up:hover{
    background-position: center 40%;
}

.footer{
    margin: 83px 130px 114px 130px;
    padding: 83px 80px;
    background: #1F2021;
    height: 146px;
    display: flex;
    justify-content: space-between;
}

.footer__text{
    width: 382px;
}

.footer__title{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
}

.footer__subtitle{
    margin: 26px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 91.2%;
}

.footer__input{
    width: 265px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 33px;
}

.footer__but{
    width: 250px;
    height: 65px;
    background: #6EBBD3;
    border-radius: 10px;
    border: none;
    margin-left: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: .5s all ease;
    cursor: pointer;
}

.footer__but:hover{
    background: #10acdb;
}

.footer__filter-input {
    position: absolute; 
    z-index: -1; 
    opacity: 0;
    
}

.footer__filter-input+label {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 24px;
    cursor: pointer;
}

.footer__filter-input+label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 18px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url("./images/check.png");
    background-position: center;
    background-color: #6EBBD3;
    border-radius: 3px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .header__content {
        padding: 26px 80px 0px 80px;
    }

    .header__title{
        margin: 40px 80px;
        font-size: 32px;
    }

    .header__tel{
        margin-left: 0;
    }

    .content{
        margin: 37px 80px 49px 80px;
    }

    .cards__list{
        grid-template-columns: repeat(auto-fill, 420px);
    }

    .cards__up{
        left: 93%;
    }

    .footer{
        margin: 83px 80px 114px 80px;
        padding: 40px 40px;
    }

    .footer__title{
        font-size: 38px;
    }

    .footer__subtitle{
        font-size: 19px;
    }

    .footer__input{
        width: 180px;
        padding-left: 23px;
    }
    
    .footer__but{
        width: 175px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .header {
        height: 200px;
    }

    .header__content{
        padding: 16px 30px 0px 30px;
    }

    .header__logo {
        width: 58px;
        height: 58px;
    }

    .header__tel {
        font-size: 16px;
        margin-left: 0px;
    }

    .header__tel-span {
        font-size: 13px;
        line-height: 15px;
    }

    .header__title{
        margin: 40px 30px;
        font-size: 28px;
    }

    .content{
        margin: 17px 30px 49px 30px;
    }

    .cards__sort{
        height: 40px;
        
    }

    .cards__list{
        grid-template-columns: repeat(auto-fill, 343px);
        justify-content: center;
    }

    .cards__like{
        left: 266px;
    }

    .cards__age{
        margin-right: 0px;
    }

    .cards__add {
        margin-top: 38px;
        width: 280px;
        height: 45px;
    }

    .cards__up {
        width: 49px;
        height: 49px;
        left: 92%;
        top: 99%;
    }

    .footer {
        margin: 43px 30px 114px 30px;
        padding: 23px 20px;
    }

    .footer__text{
        width: 250px;
    }
    
    .footer__title{
        font-size: 28px;
    }

    .footer__subtitle{
        margin: 15px 0 0 0;
        font-size: 18px;
    }

    .footer__input {
        width: 222px;
        height: 55px;
        padding-left: 13px;
    }

    .footer__form{
        margin-top: 15px;
    }

    .footer__but {
        width: 170px;
        height: 56px;
        margin-left: 6px;
    }
    
}

@media screen and (max-width: 767px){
    .header {
        width: 100%;
        height: 152px;
        background-position: 30% 78%;
    }

    .header__content {
        padding: 16px 15px 0px 15px;
        align-items: flex-start;
    }

    .header__logo {
        width: 38px;
        height: 38px;
    }

    .header__links {
        flex-direction: column;
        width: 0;
        opacity: 0;
    }

    .header__link {
        font-size: 0px;
    }

    .header__tel {
        font-size: 14px;
        line-height: 19px;
        margin: 2px 0 0 0;
    }

    .header__tel-span {
        font-size: 12px;
        line-height: 7px;
    }

    .header__menu{
        width: 38px;
        height: 38px;
        background-image: url("./images/menu.png");
    }

    .header__title {
        margin: 15px 15px;
        font-size: 15px;
        line-height: 5px;
    }

    .content{
        margin: 8px 15px 49px 15px;
    }

    .cards__sort{
        height: 30px;
    }

    .cards__onsort{
        font-size: 12px;
    }

    .cards__price {
        margin: 0 0 0 37px;
        width: 46px;
    }
    
    .cards__price-sort{
        font-size: 13px;
    }

    .cards__price-sort:after {
        width: 4px;
        height: 4px;
        top: 31%;
        border-top: 2px solid #000000;
        border-right: 2px solid #000000;
    }

    .cards__list{
        grid-template-columns: repeat(auto-fill, 100%);
        justify-content: center;
    }
       
    .cards__add {
        margin-top: 28px;
        width: 180px;
        height: 45px;
    }
    .cards__up {
        width: 35px;
        height: 35px;
        left: 90%;
        top: 99%;
    }

    .footer {
        margin: 18px 15px 18px 15px;
        padding: 23px 23px;
    }

    .footer__text{
        width: 160px;
        margin-top: 15px;
    }

    .footer__title{
        font-size: 18px;
        line-height: 19px;
    }

    .footer__subtitle{
        margin: 16px 0 0 0;
        font-size: 14px;
        line-height: 116.2%;
        width: 103px;
    }
    

    .footer__form{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        width: 196px;
    }

    .footer__input {
        width: 94%;
        height: 35px;
        padding-left: 12px;
    }

    .footer__but {
        width: 100%;
        height: 35px;
        margin: 15px 0 0 0;
    }

    .footer__filter-input+label {
        font-size: 12px;
        line-height: 12px;
        margin-top: 15px;
    }
}